# Node modules and build outputs
software/vscode-spinasm/node_modules/
software/vscode-spinasm/out/

# VSCode workspace settings
software/vscode-spinasm/.vscode/

# PIO files
firmware/vscode-spinasm-firmware/.pio/build/ATmega328P/
firmware/vscode-spinasm-firmware/.vscode/
firmware/vscode-spinasm-firmware/.pio/build/

# Packaging artifacts
software/vscode-spinasm/*.vsix

# TypeScript build cache
*.tsbuildinfo

# OS-specific and temporary files
Thumbs.db
desktop.ini
*.tmp
*.log

# Test project
software/vscode-spinasm/test

firmware/vscode-spinasm-firmware/.pio/build/ATmega328P/
firmware/vscode-spinasm-firmware/.vscode/
firmware/vscode-spinasm-firmware/.pio/build/

# Horizon files
*.db
*.db-shm
*.db-wal
.gdb_history
tmp/*.json
3d_models/local
**/__pycache__
*.imp_meta
*.autosave
