# Node modules and build outputs
software/spinasm/node_modules/
software/spinasm/out/

# VSCode workspace settings
software/spinasm/.vscode/
firmware/vscode-spinasm-firmware/.vscode/
firmware/vscode-spinasm-firmware/.gitignore
firmware/fv1-platform-firmware/.vscode/
firmware/fv1-platform-firmware/.gitignore

# PIO files
firmware/vscode-spinasm-firmware/.pio/build/
firmware/fv1-platform-firmware/.pio/

# Packaging artifacts
software/spinasm/*.vsix

# TypeScript build cache
*.tsbuildinfo

# OS-specific and temporary files
Thumbs.db
desktop.ini
*.tmp
*.log

# Test project
software/spinasm/test

# Horizon files
*.db
*.db-shm
*.db-wal
.gdb_history
tmp/*.json
3d_models/local
**/__pycache__
*.imp_meta
*.autosave
